---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$drkGray: #494F4A;
$green: #57B895;
$ltGreen: #93B3A9;
$ltGray: #BCC8C4;

$gibson: 'Gibson W01', 'Helvetica Neue', 'Helvetica', sans-serif;
$freight: 'Freight Display Pro W01', Georgia, serif;

// Width of the content area
$break1: 768px;
$break2: 900px;


@mixin media-query( $size) {
    @media screen and (min-width: $size) {
        @content;
    }
}

@mixin smoothie(){
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.smoothie {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "reset"
;

* {
	box-sizing: border-box;
}

/*
 * Basic Setup & Typography
 */
 
body {
	color: $drkGray;
	font-family: $freight;	
	font-size: 14px;
	line-height: 1.5714em;
}

h1, h2, h3, h4, h5 h6 { font-family: $gibson; }

h1, h2, h3 { margin: 0 0 1em; }

h1 {
	color: $drkGray;
	font-size: 1.714em;
	line-height: 1em;
}

h2 {
	color: $drkGray;
	font-size: 1.4285em;
	line-height: 1.1em;
}

h3 {
	color: $ltGreen;
	font-size: 1.2857em;
	line-height: 1.2223em;
}

p {
	margin: 1.7142em 0;
}

ul, ol {
	margin: 2.5em 0;
	padding-left: 2.5em;
}

li { margin-bottom: .64em; }

a { 
	color: $green;
	cursor: pointer;
	text-decoration: underline;
}

a:hover { text-decoration: none; }

.button, button {
	appearance: none;
	background: #fff;
	border: 2px solid $green;
	border-radius: 17.5px;
	color: $green;
	cursor: pointer;
	font-family: $gibson, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.2857em;
	font-weight: 600;
	padding: 5px 32px;
	text-decoration: none;
	
	&:hover, &:focus {
		box-shadow: 0 0 6px rgba(42, 102, 81, .68);
		text-decoration: underline;
	}
	
	&:active {
		background: $green;
		color: #fff;
		text-decoration: none;
		
		@include smoothie();
	}	
}

.button-sec {
	@extend .button;
	border: 1px solid $drkGray;
	color: $drkGray;
	
	&:hover, &:focus {
		box-shadow: 0 0 6px rgba(73, 79, 74, .55);
	}
	
	&:active {
		background: #fff;
		color: $drkGray;
		
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: default;
	}
	
}

@include media-query( $break1 ) {
	body {
		font-size: 20px;
		line-height: 1.6em;
	}
	
	h1 { font-size: 2.4em; }	
	h2 { font-size: 2em; }
	h3 {
		font-size: 1.8em;
		line-height: 1.1667em;
	}
	
	.button {
		border-radius: 25.5px;		
		font-size: 1.2em;
	}
}

/*
 * Layout
 */
 
/* General */

.site-width {
	margin: 0 auto;
	max-width: 800px;
	padding: 0 32px;
	position: relative;
	z-index: 1;
	width: 100%; 
}


/* Nav */

nav {
	
	font-family: $gibson;
	font-weight: 600;
	height: 56px;

	ul { margin: 0; }
	
	li { list-style-type: none; }
	
	a { text-decoration: none; }
}

@media screen and (max-width: 600px) {
	
	nav.site-width {
		background: #fff;
		left: 0;
		position: fixed;
		top: 0;
		transition: transform .5s ease-out;
		
		&.site-width { z-index: 100; } //keeps off-canvas above other site-width elements
		
		.toggle {
			content: "Menu";
			position: absolute;
			right: 2em;
			
			&:first-child { top: 16px; }
			
			&:last-child { bottom: 56px; }
			
		}
	}
	
	ul {
		background: rgba(255,255,255,.95);
		left: 100%;
		height: 100vh;
		padding-left: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 100;		
	}
	
	li {
		display: block;
		font-size: 1.714em;
		height: 60px;
		line-height: 60px;
		margin-bottom: 0;
		width: 100%;
		
		&:first-child { margin-top: 56px; }
		
		a {
			display: block;
			height: 100%;
			padding: 0 24px;
			width: 100%;
			
			&:hover, &:focus {
				background: $green;
				color: #fff;
			}
			
		}
	}
	
	nav + * { margin-top: 56px; }
	
	body.nav-active {
		overflow: hidden;
		
		nav {
			transform: translate3d( -100%, 0, 0 );
		}
		
	}
	
}

@include media-query( $break1 ) {
	
	nav {
		font-size: .7em;
		text-align: right;
		
		ul {
			height: 100%;
			padding: 0;
		}
		
		li {
			display: inline-block;
			height: 100%;
			margin: 0;
			padding: 0 .5em;
		}
		
		a {
			align-items: center;
			display: flex;	
			height: 100%;
			width: 100%;
		}
		
	}
	
}
 
/* Header */

.hero {
	background: #45A368;
	height: 320px;
	position: relative;
	
	.site-width { height: 100%; }
	
	h1 {
		bottom: 32px;
		color: #ffffff;
		left: 0;
		margin: 0;
		padding: 0 32px;
		position: absolute;
		z-index: 2;
		width: 100%;
	}
	
	&:after {
		content: " ";
		display: block;
		height: 100%;
		left: 0;
		opacity: .65;
		position: absolute;
		top: 0;
		z-index: 1;
		width: 100%;
	}
}

@include media-query( $break1 ) {
	.hero {
		height: 432px;
		
		h1 {
			bottom: 48px;
			padding: 0 48px;
		}
	}
}