---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$drkGray: #494F4A;
$green: #57B895;
$ltGreen: #93B3A9;
$ltGray: #BCC8C4;

$gibson: 'Gibson W01', 'Helvetica Neue', 'Helvetica', sans-serif;
$freight: 'Freight Display Pro W01', Georgia, serif;

// Width of the content area
$break1: 768px;
$break2: 900px;




@mixin media-query( $size) {
    @media screen and (min-width: $size) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "reset"
;

/*
 * Basic Setup & Typography
 */
 
body {
	color: $drkGray;
	font-family: $freight;	
	font-size: 14px;
	line-height: 1.5714em;
}

h1, h2, h3, h4, h5 h6 { font-family: $gibson; }

h1, h2, h3 { margin: 0 0 1em; }

h1 {
	color: $drkGray;
	font-size: 1.714em;
	line-height: 1em;
}

h2 {
	color: $drkGray;
	font-size: 1.4285em;
	line-height: 1.1em;
}

h3 {
	color: $ltGreen;
	font-size: 1.2857em;
	line-height: 1.2223em;
}

p {
	margin: 1.7142em 0;
}

ul, ol {
	margin: 2.5em 0;
	padding-left: 2.5em;
}

li { margin-bottom: .64em; }

a { 
	color: $green;
	text-decoration: underline;
}

a:hover { text-decoration: none; }

@include media-query( $break1 ) {
	body {
		font-size: 20px;
		line-height: 1.6em;
	}
	
	h1 { font-size: 2.4em; }	
	h2 { font-size: 2em; }
	h3 {
		font-size: 1.8em;
		line-height: 1.1667em;
	}
	
	
}