---
layout: default
---

<div class="site-width home">
	
	<div class="featured-work">
		<p class="home-label">Featured Work</p>
		<h2>Wayward</h2>
		<p>Wayward is an outdoor/adventure retailer with a Shopify ecommerce site focused on the details of the customer experience and supported by an editorial-design centric WordPress blog.</p>
		<picture>
			<source srcset="{{ site.baseurl }}/images/featured-large.jpg" media="(min-width: 900px)">
			<source srcset="{{ site.baseurl }}/images/featured-med.jpg" media="(min-width: 600px)">
			<img src="{{ site.baseurl }}/images/featured-small.jpg" alt="The Flying Peanut">
		</picture>
		<a class="button" href="{{ site.baseurl }}/work/wayward/">Read More</a><br>
		<a class="button-sec" href="{{ site.baseurl }}/work/">See All Work</a>		
	</div> <!-- .featured-work -->
	
	<div class="latest-posts">
		<p class="home-label">Latest Posts</p>
		{% for post in site.posts limit:3 %}
			{% include post-excerpt.html %}
		{% endfor %}
		<p class="home-label"><a href="{{ site.baseurl }}/writing/">See all writing &raquo;</a></p>
		
	</div> <!-- .latest-posts -->
	
</div> <!-- .home -->