<div class="hero front">
	<div class="flex-div">
		<div class="intro">
			<h1>Mike Dwyer</h1>
			<p>Front-End Developer &amp; Designer<br>
				Founder at <a href="http://www.noblenarrative.com">Noble Narrative</a><br>
				Creator of <a href="http://www.theflyingpeanut.com">The Flying Peanut</a></p>
			<p>San Diego, CA</p>
			
		</div> <!-- .intro -->
		<picture>
			<source srcset="{{ site.baseurl }}/images/intro.jpg" media="(min-width: 600px)">
			<img src="{{ site.baseurl }}/images/intro-mobile.jpg" alt="Mike Dwyer">
		</picture>
	</div>
</div> <!-- .hero -->