*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  interpolate-size: allow-keywords;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}