@import "reset.css" layer(reset);

:root {
  --bg-color: #fafaf9;
  --heading-text-color: #030b37;
  --body-text-color: #76777d;
  --heading-font-face: var(--font-inter), sans-serif; 
  --body-copy-font-face: var(--font-source-serif), serif;
  --h1-font-size: 3rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1rem;
  --body-copy-font-size: 1rem;
}

html, body {
  background-color: var(--bg-color);
  color: var(--body-text-color);
  font-family: var(--body-copy-font-face);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-text-color);
  font-family: var(--heading-font-face);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 800;
  line-height: 1.08em;
  margin-bottom: 1.23em;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 800;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: 700;
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: 700;
}

h5 {
  font-size: var(--h5-font-size);
  font-weight: 700;
}

p {
  line-height: 1.55em;
  margin-bottom: 1.23em;
}

.container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  padding: 0 1em;
  max-width: 680px;

  .columns-12 {
    grid-column: span 12;
  }
}

@supports (container-type: scroll-state) {
  html {
    container-type: scroll-state;
    container-name: scroller;
  }

  @container scroller scroll-state(scrollable: top) {
    nav {
      box-shadow: 0 0 24px rgba(0, 0, 0, .05);
    }
  }
}

@supports not (container-type: scroll-state) {
  nav {
    box-shadow: 0 0 24px rgba(0, 0, 0, .05);
  }
}

 nav {
  --nav-icon-size: 2rem;
  background-color: var(--bg-color);
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  font-family: var(--heading-font-face);
  font-size: var(--h5-font-size);
  left: 0;
  line-height: var(--nav-icon-size);
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 100vw;

  a {
    color: var(--heading-text-color);
    display: inline-block;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 3rem;
    }

    svg {
      height: var(--nav-icon-size);
      width: var(--nav-icon-size);
    }
  }

  @media screen and (max-width: 480px) {
    padding: 1rem;
  }
}